---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Gordon Lei's portfolio">
  <main>
    <!-- This is the  header section -->
    <div>
      <div class="font-bold text-4xl text-center m-4">
        Yahallo I'm Gordon Lei
      </div>
      <div class="text-center m-4">
        I build engaging Web Applications to help aid users find desired
        information and results
      </div>
    </div>
  </main>
</Layout>
